* {
    margin: 0;
    font-family: var(--font);
}

body {
    width: 100%;
    display: flex;
    background: var(--branco-escuro);
    font-weight: 500;
}

.nav {
    width: 100%;
    background: var(--bordo);
    display: flex;


    h1 {
        width: 100%;
        display: flex;
        justify-content: center;
        z-index: 1;
        margin-right: 10%;
        padding-bottom: 10px;
        padding-top: 10px;
        color: white;
    }

    .btn {
        width: 5%;
        background: var(--bordo);
        border: none;
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        margin-top: 5px;
        margin-bottom: 5px;
        margin-left: 10px;
        transition: 0.3s;
        border-radius: 5px;
    }

    .btn:hover {
        background: var(--bordo-escuro);
        color: var(--branco-escuro);
    }
}

.area-contrato {
    width: 100%;
    display: flex;
    justify-content: center;
}

.contrato {
    margin-top: 50px;
    margin-bottom: 80px;
    width: 50%;
    text-align: justify;
    justify-content: center;
    h1 {
        text-align: center;
    }

    h3 {
        margin-top: 30px;
    }
    .button{
        display: flex;
        justify-content: center;
        margin-top: 40px;
        .confirm{
            background: var(--amarelo);
            padding: 10px;
            font-size: 20px;
            text-decoration: none;
            color: black;
            font-weight: 700;
            border-radius: 5px;
            border: none;
            transition: 0.5s;
        }
        .confirm:hover{
            background: var(--amarelo-escuro);
        }
    }
}
@media(max-width:800px){
    .contrato{
        width: 70%;
    }
}
@media(max-width:500px){
    .nav{
        .btn{
            width: 10%;
        }
    }
    .contrato{
        width: 80%;
    }
}