* {
    margin: 0;
}

body {
    background-image: url(../img/back-deposit.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    position: relative;
    font-family: var(--font);
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--preto-claro-solid);
    width: 500px;
    height: 100vh;

    #icons {
        margin-right: 10px;
    }

    .nav {
        width: 100%;
        background: var(--bordo-escuro);
        display: flex;
        justify-content: start;

        .voltar {
            background: var(--bordo-escuro);
            margin: 10px;
            font-size: 20px;
            align-items: center;
            justify-content: center;
            display: flex;
            border-radius: 5px;
            transition: 0.3s;
            color: white;   
            a{
                margin: 0 10px 0 10px;
            }
        }

        .voltar:hover {
            background: var(--bordo-mais-escuro);
        }

        .area-banca {
            display: grid;
            margin-left: 50%;
            margin-right: 20px;
            color: var(--amarelo-escuro);

            .capital {
                font-weight: 500;
            }

            .banca {
                font-size: 24px;
                font-weight: 600;
                text-align: center;
            }
        }
    }

    .deposit {
        width: 100%;
        display: grid;
        grid-template-columns: 200px;
        justify-content: center;
        margin-top: 50px;

        .input {
            input {
                width: 97%;
                font-size: 20px;
                padding-top: 5px;
                padding-bottom: 5px;
                border-radius: 5px;
                font-weight: 600;
                background: white;
            }

            .warning-message {
                color: var(--amarelo);
                font-size: 9.5px;
                text-align: center;
                font-weight: 600;
            }
        }
    }

    .button-value {
        display: grid;
        grid-template-columns: 80px 80px 80px 80px;
        justify-content: center;
        margin-top: 20px;

        button {
            width: 95%;
            margin-bottom: 10px;
            border-radius: 5px;
            border: none;
            font-size: 15px;
            font-weight: 700;
            cursor: pointer;
            padding: 5px 10px 5px 10px;
            background: var(--bordo-escuro);
            transition: 0.3s;
            color: var(--branco-escuro);
        }
        button:hover{
            background: var(--bordo-mais-escuro);
        }
    }

    .check-button {
        width: 100%;
        display: flex;
        justify-content: center;

        button {
            width: 35%;
            font-size: 18px;
            font-weight: 600;
            padding: 5px 10px 5px 10px;
            border-radius: 5px;
            border: none;
            background: var(--amarelo);
            opacity: 1;
            transition: opacity 0.3s;
            cursor: pointer;
        }

        button:hover {
            background: var(--amarelo-escuro);
        }

        button:disabled {
            opacity: 0.5;
            cursor: not-allowed;
        }
    }
    .button{
        width: 100%;
        display: grid;
        grid-template-columns: 40%;
        justify-content: center;
        text-align: center;
        p{
            color: var(--amarelo);
            margin-top: 20px;
        }
        select{ 
                border-radius: 5px;
                border: none;
                margin-bottom: 30px;
                font-size: 15px;
                padding: 5px;
        }
    }
    .saque{
        width: 100%;
        display: grid;
        grid-template-columns: 35%;
        justify-content: center;
        .saque-btn{
            width: 100%;
            font-size: 18px;
            font-weight: 600;
            border-radius: 5px;
            border: none;
            background: var(--bordo-escuro  );
            text-align: center;
            padding: 2px 0 2px 0;
            margin-top: 10px;
            color: var(--branco-escuro);
            transition: 0.3s;
        }
        .saque-btn:hover{
            background: var(--bordo-mais-escuro);
        }
    }
}


@media (max-width:500px){
    .container{
        width: 100%;
        .nav{
            .area-banca{
                margin-left: 30%;
            }
        }
        .button{
            grid-template-columns: 50%;
            p{
                font-size: 12px;
            }
        }
        .button-value{
            grid-template-columns: 70px 70px 70px 70px;
            button{
                padding: 5px 0 5px 0;
            }
        }
        .check-button{
            button{
                width: 50%;
            }
        }
        .saque{
            grid-template-columns: 50%;
        }
    }
    
}