


* {
    margin: 0;
}

html {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}

body {
    background: black;
    background-image: url(../img/backgorund-pc.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 79vh;
}

.login {
    width: 300px;
    font-family: var(--font);
    margin-left: 100px;
    margin-top: 150px;
    a{
        text-decoration: none;
        color: var(--amarelo-claro);
    }
    h1 {
        color: var(--amarelo);
        line-height: 95%;
        font-size: 55px;
    }

    p {
        color: var(--branco);
        margin-bottom: 50px;
        font-size: 13px;
    }

    .campos {
        margin-top: 20px;
        color: var(--branco);

        input {
            width: 100%;
            background: var(--branco);
            font-size: 20px;
            margin-bottom: 25px;
            font-weight: 100;
            border-radius: 5px;
            padding-top: 5px;
            padding-bottom: 5px;
        }

        label {
            font-size: 13px;
            font-weight: 200;
        }

    }

    .button {
        width: 100%;

        button {
            width: 102%;
            font-size: 20px;
            font-weight: 800;
            padding-top: 5px;
            padding-bottom: 5px;
            background: var(--amarelo);
            cursor: pointer;
            border-radius: 5px;
        }

        button:hover {
            background: var(--amarelo-claro);
        }

        a {
            text-decoration: none;
            color: var(--branco-escuro);
        }
    }

}


@media (max-width:1200px) {
    body {
        background-image: url(../img/background-pc.jpg);
        background-position: center center;
        background-size: cover;
        width: 100%;
        height: 100vh;
    }

    .login {
        margin-left: 175px;
    }
}

@media(max-width:720px) {
    body {
        background-image: url(../img/background-cell.png);
        display: flex;
        justify-content: center;
        background-size: cover;
        background-position: center;
        height: 100vh;
    }

    .login {
        margin: 0;
        width: 400px;
        margin-top: 200px;
        margin-bottom: 150px;
        h1 {
            font-size: 80px;
        }

        p {
            font-size: 20px;

        }



        .campos {
            input {
                font-size: 25px;
                padding-top: 10px;
                padding-bottom: 10px;
                width: 99%;
            }

            label {
                font-size: 20px;
            }
        }

        .button {
            button {
                width: 101%;
                font-size: 30px;
            }

            a {
                font-size: 20px;
                color: var(--amarelo-claro);
            }
        }
    }
}

@media(max-width:500px) {
    body {
        background-image: url(../img/background-cell.png);
        display: flex;
        justify-content: center;
        background-size: cover;
        background-position: center;
        height: 100vh;
    }

    .login {
        margin: 0;
        width: 200px;
        margin-top: 150px;


        h1 {
            font-size: 40px;
        }

        p {
            font-size: 10px;
            margin-bottom: 20px;
        }



        .campos {
            input {
                font-size: 15px;
                padding-top: 6.5px;
                padding-bottom: 6.5px;
                width: 97%;
            }

            label {
                font-size: 10px;
            }
        }

        .button {

            button {
                width: 101%;
                font-size: 15px;
            }

            a {
                font-size: 10px;
                color: var(--amarelo-claro);

            }
        }
    }

}